* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #242038;
  padding: 20px 50px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 30px;
  color: white;
}

main {
  padding: 30px 50px;
  background-image: url(assets/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.article-card {
  border-radius: 20px;
  width: calc((100% - (20px*2)) / 3);
  padding: 10px;
  text-align: center;
  background-color: rgba(141, 134, 201, 0.8);
  color: white;
  position: relative;
}

.article-card h2 {
  margin-bottom: 10px;
  cursor: pointer;
}

.article-card .flag {
  font-size: 10px;
  position: absolute;
  bottom: 50%;
  right: 0;
  background-color: #CAC4CE;
  color: black;
  display: none;
  padding: 10px;
  border-radius: 10px;
}

.article-card h2:hover {
  text-shadow: 0px 3px 5px rgb(216, 216, 216);
}

.article-card h2:hover .flag {
  display: block;
}

.article-card .remove-button {
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.remove-button:hover {
  color: #D65860;
}

.form-container {
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgba(142, 102, 193, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-wrap: wrap;
}

.form-container h3 {
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

form input {
  margin: 0 auto;
  border: 0px;
  text-align: center;
  background-color: white;
  color: black;
  padding: 10px;
  width: 70%;
  border-radius: 10px;
}

form button {
  background-color: transparent;
  font-size: 30px;
  border-radius: 10px;
  border: 0px;
  color: white;
  width: 40%;
  margin: 0 auto;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

form button:hover {
  color: #79D78F;
}